@font-face {
  font-family: 'GAGALIN';
  src: url('/Gagalin-Regular.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  color: var(--cor-wt-primary);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-bl-primary: #03989e;
  --cor-bl-secondary: #00c2cb;
  --cor-red-primary: #ff3131;
  --cor-wt-primary: #f8f8f8;
  --cor-wt-secondary: #ececec;
  --cor-black: #000000;
  --cor-gray: #868686;
}

body {
  background: var(--cor-bl-primary);
}

header {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
}

.manutencao {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.logoRotate {
  animation: rotate 20s linear infinite;
  border-radius: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
